@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:wght@700&display=swap");

*{
  margin: 0px;
  padding: 0px;
}

.logo{
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.logo img{
  width: 42%;
  border: 3px solid rgb(245, 245, 245);
  border-radius:100px;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}


.background{
  background:#482d4a ;
  background-size: cover;
  background-blend-mode: darken;
}


.nav-list{
  width: 95%;
  display: flex;
  align-items: center;
}


.nav-list li{
  list-style: none;
  padding: 16px 19px;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
}


.nav-list li a{
  text-decoration: none;
  color: white;
}


.nav-list li a:hover{
  color: #482d4a;
  background-color: rgb(255, 255, 255);
}


.rightnav{
  /* background-color: blue; */
  width:30%;
  text-align:right;
  padding: 0 23px;
}


#search{
  padding: 5px;
  font-size: 17px;
  border: 2px solid greenyellow;
  border-radius: 9px;
}

#btn btn-sm a{
  list-style: none;
  text-decoration: none;
  color: white;
}
.btn{
  padding: 8px 20px;
  margin: 7px 6px;
  border: 2px solid white;
  border-radius: 50px;
  background: none;
  color: white;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

.btn a{
  text-decoration: none;
  color: white;
}

.btn:hover{
  text-decoration: none;
  list-style: none;
  color: #482d4a;
  background-color:rgb(0, 255, 191);
}

.btn-dark{
  color: #482d4a;
  border: 2px solid #482d4a;
}
